USE [master]
GO
/****** Object:  Database [ProbaFeladat]    Script Date: 2024. 05. 19. 18:33:54 ******/
CREATE DATABASE [ProbaFeladat]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ProbaFeladat', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ProbaFeladat.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ProbaFeladat_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ProbaFeladat_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ProbaFeladat].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ProbaFeladat]
GO
/****** Object:  Table [dbo].[gender]    Script Date: 2024. 05. 19. 18:33:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[gender](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MEGNEVEZES] [varchar](10) NULL,
 CONSTRAINT [PK_gender] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[persons]    Script Date: 2024. 05. 19. 18:33:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[persons](
	[AZONOSITO] [int] IDENTITY(1,1) NOT NULL,
	[ADOAZONOSITOJEL] [numeric](18, 0) NULL,
	[TELJESNEV] [varchar](50) NOT NULL,
	[BELEPES] [date] NOT NULL,
	[KILEPES] [date] NULL,
	[EMAILCIM] [varchar](100) NOT NULL,
	[NEM] [int] NOT NULL,
 CONSTRAINT [PK_persons] PRIMARY KEY CLUSTERED 
(
	[AZONOSITO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_persons] UNIQUE NONCLUSTERED 
(
	[AZONOSITO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [idx_unique_adoazonositojel]    Script Date: 2024. 05. 19. 18:33:54 ******/
CREATE UNIQUE NONCLUSTERED INDEX [idx_unique_adoazonositojel] ON [dbo].[persons]
(
	[ADOAZONOSITOJEL] ASC
)
WHERE ([adoazonositojel] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[persons]  WITH CHECK ADD  CONSTRAINT [FK_persons_gender] FOREIGN KEY([NEM])
REFERENCES [dbo].[gender] ([ID])
GO
ALTER TABLE [dbo].[persons] CHECK CONSTRAINT [FK_persons_gender]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Nem ismétlődhet' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'persons', @level2type=N'CONSTRAINT',@level2name=N'IX_persons'
GO
USE [master]
GO
