<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProbaFeladat.Properties.Settings.ProbaFeladatConnectionString"
            connectionString="Data Source=DESKTOP-IKOLLVV\SQLEXPRESS;Initial Catalog=ProbaFeladat;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>